#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9999999;
    text-align:center;
    color:#fff;
  }
  
  #splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.rand_area{
    box-sizing: border-box;
    padding: 10px 10px 20px 10px;
    text-align: center;
}

.rand_name{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.rand_area button{
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 15px;
    color: #FFF;
    margin-top: 10px;
    cursor: pointer;
}

.stop{
    background-color: #47bc68;
}

.restart{
    background-color: #ff8282;
}

.start{
    background-color: royalblue;
}

body{
    background:#333;/*遷移アニメーションと同じ色を指定*/
}

body.appear{
    background:#fff;/*画面を開いた後の背景色を指定*/
}

/*画面遷移アニメーション*/
.splashbg1,
.splashbg2{
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg1,
body.appear .splashbg2{
  display:block;
}

/*右に消えるエリア*/
body.appear .splashbg1{
  animation-name:PageAnime;
  animation-duration:1.2s;
  animation-timing-function:ease-in-out;
  animation-fill-mode:forwards;
  position:fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  left:50%;
  transform: scaleX(1);
  background-color: #333;/*伸びる背景色の設定*/
}

@keyframes PageAnime{
  0% {
    transform-origin:left;
    transform:scaleX(1);
  }
  50% {
    transform-origin:right;
  }
  100% {
    transform-origin:right;
    transform:scaleX(0);
  }
}

/*左に消えるエリア*/
body.appear .splashbg2{
  animation-name:PageAnime2;
  animation-duration:1.2s;
  animation-timing-function:ease-in-out;
  animation-fill-mode:forwards;
    position:fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
    right:50%;
    transform: scaleX(1);
    background-color: #333;/*伸びる背景色の設定*/
}

@keyframes PageAnime2{
  0% {
    transform-origin:right;
    transform:scaleX(1);
  }

  50% {
    transform-origin:left;
  }
  100% {
    transform-origin:left;
    transform:scaleX(0);
  }
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
  opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
  animation-name:PageAnimeAppear;
  animation-duration:1s;
  animation-delay:0.2s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}

body{
    background:#333;/*遷移アニメーションと同じ色を指定*/
  }
  
  body.appear{
    background:#fff;/*画面を開いた後の背景色を指定*/
  }
  
  .splashbg{
  display: none;
  position:fixed;
  transform: scale(100);
  background-color: #333;/*伸びる背景色の設定*/
  z-index: 999;
    /*丸のスタートの形状*/
  top:calc(50% - 1rem);/*50%から円の半径を引いた値*/
  left:calc(50% - 1rem);/*50%から円の半径を引いた値*/
  width: 2rem;
  height: 2rem;
  }
  
  /*bodyにappearクラスがついたら出現*/
  body.appear .splashbg{
  display: block;
  border-radius: 50%; 
  animation-name:PageAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  }
  
  @keyframes PageAnime{
  0% {/*丸のスタート位置と形状*/
    transform: scale(100);
  
  }
  100% {/*丸の終了位置と形状*/
    transform: scale(0);
    display: none;/*終了時は消える*/
  }
  }
  
  /*画面遷移の後現れるコンテンツ設定*/
  #container{
  opacity: 0;/*はじめは透過0に*/
  }
  
  /*bodyにappearクラスがついたら出現*/
  body.appear #container{
  animation-name:PageAnimeAppear;
  animation-duration:1s;
  animation-delay: 0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
  }
  
  @keyframes PageAnimeAppear{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;}
  }

  .icatch {
    display: flex;
    justify-content: center;
    margin: 50px;
  }

    img.border {
  border: 10px solid;
  }

/*========= レイアウトのためのCSS ===============*/

.bgextend{
	width: 220px;
	padding: 20px;
	margin:0 20px 20px 0;
	box-sizing:border-box;
}

/*========= 背景色の動きのCSS ===============*/

/*背景色が伸びて出現 共通*/
.bgextend{
	animation-name:bgextendAnimeBase;
	animation-duration:1s;
	animation-fill-mode:forwards;
	position: relative;
	overflow: hidden;/*　はみ出た色要素を隠す　*/
	opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;  
}
}

/*中の要素*/
.bgappear{
	animation-name:bgextendAnimeSecond;
	animation-duration:1s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes bgextendAnimeSecond{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

/*--------- 上から --------*/

.bgUDextend::before{
	animation-name:bgUDextendAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #666;/*伸びる背景色の設定*/
}

@keyframes bgUDextendAnime{
	0% {
		transform-origin:top;
		transform:scaleY(0);
	}
	50% {
		transform-origin:top;
		transform:scaleY(1);
	}
	50.001% {
		transform-origin:bottom;
	}
	100% {
		transform-origin:bottom;
		transform:scaleY(0);
	}
}

.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:98%;
  margin:0 auto;
}

.slider img {
  width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
  height:auto;
}

.slider .slick-slide {
transform: scale(0.9);/*左右の画像のサイズを80%に*/
transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
opacity: 0.7;/*透過50%*/
}

.slider .slick-slide.slick-center{
transform: scale(1);/*中央の画像のサイズだけ等倍に*/
opacity: 1;/*透過なし*/
}


.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    z-index: 3;
    top: 42%;
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    cursor: pointer;/*マウスカーソルを指マークに*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:-1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:-1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
  margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}


span#ms_timer {
  display: flex;
  justify-content: center;
}